body {
  background: rgb(28, 32, 34);
  color: rgba(255, 255, 255, 0.8);
}

h1 {
  color: rgb(255, 211, 153);
}

h2 {
  color: rgb(64, 169, 243);
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}

img {
  max-width: 100%;
}
